.postFormContainer{
    margin: auto;
    padding: 15px;
    
    &MainContainer{
            display: flex;
            flex-direction: column;       
    }
    &BottomContainer{            
            display: flex;
            justify-content: space-around;           
            padding: 15px;             
        
    }


}

.primaryDropdown{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: space-between;
    
        & > label{
            text-transform: capitalize;
            font-size: 11px;
            font-weight: 500;
        }
    
        &ComboBox {       
            border-radius: 10px;      
            font-size: 11px;
        }
        
        &Error{
            color: red;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;        
        }
    }